.container {
    width: 50%;
}

textarea {
    resize: none;
    overflow-y: auto;
}

.message-area {
    border: 0.5px solid #808080;
    height: 70vh;
    background-color: white;
    overflow-y: auto;
    max-width: 600px;
    margin: auto;
}

.message {
    width: 99.5%;
    overflow: hidden;
    display: block;
}

.message-in, .message-out {
    border: 1px solid #bcd;
    border-radius: 3px;
    background-color: #cdf;
    max-width: 80%;
    width: auto;
    padding: 5px 10px;
    word-wrap: break-word;
}

.message-in {
    float: left;
    text-align: left;
}

.message-out {
    display: block;
    float: right;
    text-align: right;
}

.users-container {
    position: fixed;
    top: 49px;
    left: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    background-color: #505050;
    border: 1px solid #505050;
    box-shadow: 0px 2px 2px 2px #303030;
}

.users-list {
    list-style-type: none;
    padding: 0px;
}

.user {
    padding: 20px 5px;
    cursor: pointer;
}

.offline:before {
    content: "•";
    position: relative;
    top: 5px;
    right: 3px;
    color: red;
    font-weight: 600;
    font-size: 30px;
}

.online:before {
    content: "•";
    position: relative;
    top: 5px;
    right: 3px;
    color: #1c1;
    font-weight: 600;
    font-size: 30px;
}

.mobile, .mobile-container {
    display: none;
}

#you {
    font-family: 'Roboto', sans-serif;
    background-color: #505050;
    color: snow;
    text-align: left;
    padding-top: 15px;
    padding-left: 20px;

}

#friend-field {
    width: 78%;
    margin-right:0;
    box-sizing:border-box;
    height: 20px;
}

#friend-add {
    width: 20%;
    margin-left: 2px;
    margin-right: 0;
    border: none;
    box-sizing:border-box;
    height: 20px;
    cursor: pointer;
}

textarea {
    box-sizing:border-box;
    width: 100%;
}

@media screen and (max-width: 720px) {
  .users-container { display: none; }
  .container {width: 90%;}
  .mobile {
    display: block;
  }
  .mobile-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    transition: .5s;
  }
  .mobile-container > .users-container {
    transition: .5s;
    top:0px;
    position: absolute;
    display: block;
    width: 60vw;
    height: 100vh;
    left: 0;
    border: none;
    box-shadow: 0 0 15px 15px #303030;
  }

  #you {
      text-align: center;
      padding-left: 15%;
  }

  #exit {
      width: 25%;
  }
}